body {
    background-color: #dbecd6;
}

.container-1 {
    width: 90%;
    margin: auto;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
}

/* Column widths */
.col-4 { width: 33.33%; }
.col-8 { width: 66.66%; }

/* Title */
.section-title {
    font-size: 32px;
    color: #2b5c34;
    margin-top: 80px;
    margin-bottom: 20px;
    border-bottom: 3px solid #79c29a;
    display: inline-block;
    padding-bottom: 5px;
}

/* Image */
.help-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Text Box */
.text-box {
    background-color: #e5f3e5;
    padding: 20px;
    border-radius: 15px;
    font-size: 22px;
    text-align: left;
    line-height: 1.5;
    color: #0a3c08;
    
}

/* Tablet View */
@media (max-width: 900px) {
    .col-s-4 { width: 100%; }
    .col-s-8 { width: 100%; }

    .section-title {
        font-size: 28px;
    }
    
}

/* Mobile View */
@media (max-width: 600px) {
    .text-box {
        font-size: 20px;
        padding: 18px;
    }
    .col-4 { width: 100%;}

    .section-title {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
}
@media (min-width: 1700px) {
    .text-box {
        height: 400px;
        line-height: 2.6;
    }
}
/* Finish How Local Community Can Help */

/* Start Eco-Friendly Action */

   /* Container styling */
.eco-container {
    width: 90%;
    margin: auto;
    background: #3e6643;
    padding: 20px;
    border-radius: 12px;
    border: 4px solid #2d6a4f;
    margin-top: 50px;
}

/* Title */
.eco-title {
    text-align: left;
    background: #2d6a4f;
    color: white;
    padding: 15px;
    font-size: 32px;
    margin-left: 95px;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 18%;
    margin-top: 50px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

/* Individual card */
.card {
    background: #55764d;
    color: #fff8da;
    border-radius: 10px;
    width: 32%;
    margin-top: 25px;
    text-align: center;
    
}

/* Images */
.card img {
    width: 100%;
    height: 300px;
    
}

/* Text */
.card p {
    display: block;
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    margin-left: 25px;
}



/* Responsive: Tablet */
@media screen and (max-width: 900px) {
    .card {
        width: 48%;
    }
}

/* Responsive: Mobile */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .eco-title {
        width: 50%;
    }
    
}

/* Finish Eco-Friendly Action */

/* Start How People Can Join Cleanup Events  */

* {
    box-sizing: border-box;
}

.container-2 {
    width: 90%;
    margin: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.main-title {
    text-align: center;
    font-size: 38px;
    color: #085c0c;
    margin-bottom: 40px;
    margin-top: 100px;
    font-weight: 800;
}

.text-box h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.text-box p {
    margin-top: 0;
}

/* Desktop grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




/* Responsive (small devices) */
@media screen and (max-width: 1000px) {
    .col-s-12 {width: 100%;}
}

hr{
    width: 35px;
    margin-right: 100%;  
    color: #fff8da;
}

.social_icon1{
    color: #fff8da;
    border: 1px none rgb(213, 220, 240);
    display: inline;
    width: 30px;
    padding: 10px;
    border-radius: 50%;

}
.social_icon1:hover{
    background-color: #fff8da;
    box-shadow: 3px 3px 3px rgba(156, 156, 164, 0.646);
}

.container{
    padding-left: 10px;
}
.container3 p{
    color: #fff8da;
}
.col-4 p{
    color: #fff8da;
}
.col-4{
    padding: 25px;
    padding-left: 50px;
} 
 .social_icon{
    background-color: #fff8da;
    color: rgb(92, 96, 110);
    border: 1px solid rgb(213, 220, 240); 
    display: inline; 
    width: 30px;
    padding: 5px;
    border-radius: 100px; 
    margin-right: 7px; 
} 
.social_icon p{
    display: inline-block;
}
.submit_button{
    padding: 10px 30px 10px 20px;
    background-color: #9aba93; 
    border-radius: 0px 30px 30px 0px;
    border-style: none;
    color: #fff8da;
    box-shadow: 3px 3px 5px rgba(101, 101, 107, 0.646);
}
.submit_button:hover{
    background-color: rgb(84, 118, 79);
    
}
.input_box{  
    width: 280px;  
    padding: 10px;
    background-color: rgb(226, 226, 237); 
    border-radius: 20px 0px 0px 20px;
    border-style: none;
    box-shadow: 3px 3px 5px rgba(107, 107, 118, 0.646); 
}
.col-3 a{
    transition: margin-left 1s linear;
    display: block;
    text-decoration: none;
    color:#fff8da;
    margin-bottom: 20px;
    
}
.col-3 a:hover{
    margin-left: 10px;
    color: #c4e0bd;
    
}
.social_icon i,.social_icon1,i{
    color: #fff8da;
}

.container3 p{
    margin-bottom: 30px;
}
.container3{
    background-color:#5a7c5f;
    padding-left: 20px;
}
.col-2 a i{
    display: block;
    font-size: large;
    margin-bottom: 20px;
    color: #fff8da;
}
.container3 h1,.container3 h2,.container3 h3{
    color: #fff8da;
}
@media  screen and (min-width:600px) and (max-width:768px){
    .container3{
        display: flex;
        flex-wrap: wrap;
        justify-items: baseline;
        align-items: baseline;
    }
   .container h3,.container p{
    text-align: center;
   }
   .container .input_box{
    width: 90%;
    margin: auto;
   }
   

}
.end{
    text-align: center;
    font-size: 16px;
}